body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-top: 20px solid #ccc; /* Add a top border */
  border-bottom: 20px solid #ccc; /* Add a bottom border */
}

.container {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px; /* Increase the margin between input groups */
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 32px;
  margin-bottom: 10px;
}

button {
  background-color: hwb(177 5% 38%);
  color: #222121;
  padding: 10px 20px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 180, 216, 0.2); /* Cyan shadow for depth */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */
}

button:hover {
  box-shadow: 0 0 70px rgba(17, 194, 230, 0.5); /* Glowing cyan effect on hover */
}

#result {
  font-size: 18px;
  margin-top: 20px;
}
